<div class="container">
    <div class="row mt-3 mx-5">
      <p class="h5 text-left bg-light text-dark px-3 ml-5">商品一覧</p>

      <%= link_to new_admin_item_path, class:"ml-auto" do %>
      <i class="fas fa-plus fa-2x" style="color: gray"></i>
      <% end %>
    </div>

  <div class="row mx-5">
    <table class="table">
        <thead>
          <tr class="bg-light">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tr>
          <td><p><%= item.id %></p></td>
          <td><u><%= link_to item.name, admin_item_path(item.id), class:"text-dark" %></u></td>
          <td><p><%= item.price.to_s(:delimited) %></p></td>
          <td><p><%= item.genre.name %></p></td>
          <td>
            <% if item.is_active %>
              <strong class="text-success">販売中</strong>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </td>
        </tr>
      　<% end %>
      </table>
  </div>
</div>
