<div class="container">
  <div class="row">
    <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">
      <%= @customer.full_name %>さんの会員詳細
    </p>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      会員ID
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      氏名
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.full_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      フリガナ
    </div>
    　<%= @customer.full_name_kana %>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      郵便番号
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      住所
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      電話番号
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.telephone_number %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      メールアドレス
    </div>
    <div class="col-md-7 mb-3">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ml-5 mb-3">
      会員ステータス
    </div>
    <div class="col-md-7 mb-3">
      <% if @customer.is_active %>
        <strong>退会</strong>
      <% else %>
        <strong class="text-success">有効</strong>
      <% end %>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="row form-group">
      <%= link_to '編集する', edit_admin_customer_path(@customer.id), class:"btn btn-success mr-5" %>
      <%= link_to '注文履歴一覧を見る', admin_path, class:"btn btn-primary" %>
    </div>
    </div>
</div>