<div class="container">
  <div class="row">
    <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">新規会員登録</p>
  </div>
<%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>

  <div class="col-lg-11 mx-auto">
  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">名前</div>
    <div class="col-sm-4 col-lg-4">
      (姓) <%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "ml-1" %>
    </div>
    <div class="col-sm-4 col-lg-4">
      (名) <%= f.text_field :first_name, placeholder: "道子", class: "ml-1" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">フリガナ</div>
    <div class="col-sm-4 col-lg-4">
      (セイ)<%= f.text_field :last_name_kana, placeholder: "レイワ" %>
    </div>
    <div class="col-sm-4 col-lg-4">
      (メイ)<%= f.text_field :first_name_kana, placeholder: "ミチコ" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">メールアドレス</div>
    <div class="col-sm-4 col-lg-4">
      <%= f.email_field :email, placeholder: "sample@example.com" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">郵便番号(ハイフンなし)</div>
    <div class="col-sm-4 col-lg-4">
      <%= f.text_field :postal_code, placeholder: "0000000" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">住所</div>
    <div class="col-sm-8 col-lg-8">
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町０−０" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">電話番号(ハイフンなし)</div>
    <div class="col-sm-4 col-lg-4">
      <%= f.text_field :telephone_number, placeholder: "00000000000" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">
      パスワード
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %>文字以上)
    <% end %>
    </div>
    <div class="col-sm-4 col-lg-4">
      <%= f.password_field :password%>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-3 col-lg-3">パスワード(確認用)</div>
    <div class="col-sm-4 col-lg-4">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="col-2 mx-auto">
    <div class="row form-group">
      <%= f.submit '新規登録', class:"btn btn-success btn-lg" %>
    </div>
    </div>
  </div>
<% end %>

  <div class="row">
    <p class="h5 text-left bg-light text-dark px-3 my-3 ml-5">既に登録済みの方</p>
  </div>
  <div class="row">
    <div class="col-md-10 cd-lg-9 mx-auto">
    <u><%= link_to 'こちら', new_customer_session_path %></u>
    からログインしてください。
    </div>
  </div>
</div>