<div class="container">
  <div class="row my-5 mx-2">
    <div class="col-md-8 col-lg-10">
      <div class="row">
        <h4>商品一覧</h4>
        <p>(全<%= @items.count %>件)</p>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3 col-lg-3">
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(180,110) %></br>
          <% end %>
          <%= item.name %></br>
          ¥<%= item.with_tax_price.to_s(:delimited) %>
        </div>
        <% end %>
        <div class="mx-auto mt-5"><%= paginate @items %></div>
      </div>
    </div>

  </div>

</div>